@model (ProductDetailsDto productDetailsDto,ProductDetailsUpdateDto updatedto, List<ProductDto> productlist)
    @using ServiceLayer.DTOs.ProductDetails
    @using ServiceLayer.DTOs.Product
    @using DomainLayer.Enums


<div class="row">
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title">Mehsul Adi: @Model.productDetailsDto.ProductName</h4>
                <form asp-action="Update" asp-controller="ProductDetails" asp-area="AdminPanel" class="forms-sample" method="post">
                    <div class="form-group row">
                        <label asp-for="updatedto.Size" class="col-sm-3 col-form-label">Beden :</label>
                        <div class="col-sm-9">
                            <select asp-for="updatedto.Size" asp-items="Html.GetEnumSelectList<Sizes>()" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="updatedto.Color" class="col-sm-3 col-form-label">Reng :</label>
                        <div class="col-sm-9">
                            <select asp-for="updatedto.Color" asp-items="Html.GetEnumSelectList<Colors>()" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="updatedto.Count" class="col-sm-3 col-form-label">Say :</label>
                        <div class="col-sm-9">
                            <input asp-for="updatedto.Count" type="number" class="form-control" id="exampleInputEmail2">
                            <span asp-validation-for="updatedto.Count" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="updatedto.StarCount" class="col-sm-3 col-form-label">Reyting :</label>
                        <div class="col-sm-9">
                            <select asp-for="updatedto.StarCount" asp-items="Html.GetEnumSelectList<Reyting>()" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="updatedto.Availability" class="col-sm-3 col-form-label">Movcuddur ?</label>
                        <input asp-for="updatedto.Availability" type="checkbox" class="form-control" id="exampleInputEmail2" checked>
                    </div>
                    <input type="hidden" asp-for="updatedto.Id" />
                    <input type="hidden" asp-for="updatedto.ProductID" />
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <a asp-action="ProductList" asp-controller="Product" asp-area="AdminPanel" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>


    @* Product Detail *@
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title">Mehsul Adi: @Model.productDetailsDto.ProductName</h4>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label asp-for="productDetailsDto.Size" class="col-sm-3 col-form-label">Beden.</label>
                        <div class="col-sm-9">
                            <p class="form-control">
                                @Model.productDetailsDto.Size.ToString()
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="productDetailsDto.Color" class="col-sm-3 col-form-label">Reng.</label>
                        <div class="col-sm-9">
                            <p class="form-control">
                                @Model.productDetailsDto.Color.ToString()
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="productDetailsDto.Count" class="col-sm-3 col-form-label">Say.</label>
                        <div class="col-sm-9">
                            <p class="form-control">
                                @Model.productDetailsDto.Count eded
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="productDetailsDto.StarCount" class="col-sm-3 col-form-label">Reyting.</label>
                        <div class="col-sm-9">
                            <p class="form-control">
                                @Model.productDetailsDto.StarCount
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="productDetailsDto.Availability" class="col-sm-3 col-form-label">Movcuddur?.</label>
                        <div class="col-sm-9">
                            @if (Model.productDetailsDto.Availability)
                            {
                                <p class="form-control">
                                    Aktiv
                                </p>
                            }
                            else 
                            {
                                <p class="form-control">
                                    Aktiv Deyil
                                </p>
                            }
                        </div>
                    </div>
                    <a asp-action="ProductDetailsList" asp-controller="ProductDetails" asp-area="AdminPanel" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>

   
</div>
