@model (ProductDetailsCreateDto ProDetaCreateDto, List<ProductDetailsDto> ProDetaListDto, ProductCreateDto ProCreateDto, List<ProductDto> ProListDto,List<ProductDto> ProList,List<CategoryDto> categorylist, List<GenderDto> genderlist)

@using ServiceLayer.DTOs.ProductDetails
@using ServiceLayer.DTOs.Product
@using DomainLayer.Enums

@{ int Procount = 1;
    int ProDetaCount = 1;
}

@* Product *@
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yeni Mehsul Elave Etmek</h4>
                <form asp-action="Create" asp-controller="Product" asp-area="AdminPanel" class="form-sample" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mehsul Adi :</label>
                                <div class="col-sm-9">
                                    <input asp-for="ProCreateDto.Name" type="text" class="form-control" placeholder="Mehsul adini yazin..." />
                                    <span asp-validation-for="ProCreateDto.Name" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Cinsiyyet :</label>
                                <div class="col-sm-9">
                                    <select asp-for="ProCreateDto.GenderID" asp-items="@(new SelectList(Model.genderlist,"Id","Name"))" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Qiymet :</label>
                                <div class="col-sm-9">
                                    <input asp-for="ProCreateDto.Price" type="number" class="form-control" />
                                    <span asp-validation-for="ProCreateDto.Price" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Kateqoriya :</label>
                                <div class="col-sm-9">
                                    <select asp-for="ProCreateDto.CategoryID" asp-items="@(new SelectList(Model.categorylist,"Id","Name"))" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Foto :</label>
                                <div class="col-sm-9">
                                    <input asp-for="ProCreateDto.Photo" class="form-control" >
                                    <span asp-validation-for="ProCreateDto.Photo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Etiket :</label>
                                <div class="col-sm-9">
                                    <select asp-for="ProCreateDto.Ticket" asp-items="Html.GetEnumSelectList<Tickets>()" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <a asp-action="ProductList" asp-controller="Product" asp-area="AdminPanel" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mehsul'a Baxis</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    No.
                                </th>
                                <th>
                                    Mehsul
                                </th>
                                <th>
                                    Foto
                                </th>
                                <th>
                                    Cins.
                                </th>
                                <th>
                                    Kateq.
                                </th>
                                <th>
                                    Qiymet
                                </th>
                                <th>
                                    Etiket
                                </th>
                                <th>
                                    EDIT
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var productDto in Model.ProListDto.Take(3))
                            {
                                <tr>
                                    <td>
                                        @Procount
                                    </td>
                                    <td>
                                        @productDto.Name
                                    </td>
                                    <td class="py-1">
                                        <img src="~/AdminPanel/img/product/@productDto.Image" class="mr-2" alt="image">
                                    </td>
                                    <td>
                                        @productDto.GenderName
                                    </td>
                                    <td>
                                        @productDto.CategoryName
                                    </td>
                                    <td>
                                        @productDto.Price $
                                    </td>
                                    <td>
                                        @productDto.Ticket.ToString()
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-controller="Product" asp-area="AdminPanel" asp-route-id="@productDto.Id"><i class="bi bi-card-list"></i></a>
                                        <a asp-action="Update" asp-controller="Product" asp-area="AdminPanel" asp-route-id="@productDto.Id"><i class="bi bi-pencil-square"></i></a>
                                        <a asp-action="Delete" asp-controller="Product" asp-area="AdminPanel" asp-route-id="@productDto.Id"><i class="bi bi-x-square"></i></a>
                                    </td>
                                </tr>
                                Procount++;
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Product Details *@
<div class="row">
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title">Mehsul Detali Elave Etmek</h4>
                <form asp-action="Create" asp-controller="ProductDetails" asp-area="AdminPanel" class="forms-sample" method="post">
                    <div class="form-group row">
                        <label asp-for="ProDetaCreateDto.ProductID" class="col-sm-3 col-form-label">Mehsul :</label>
                        <div class="col-sm-9">
                            <select asp-for="ProDetaCreateDto.ProductID" asp-items="@(new SelectList(Model.ProList,"Id","Name"))" class="form-control">
                            </select>
                            <span class="text-danger" asp-validation-for="ProDetaCreateDto.ProductID"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProDetaCreateDto.Size" class="col-sm-3 col-form-label">Beden :</label>
                        <div class="col-sm-9">
                            <select asp-for="ProDetaCreateDto.Size" asp-items="Html.GetEnumSelectList<Sizes>()" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProDetaCreateDto.Color" class="col-sm-3 col-form-label">Reng :</label>
                        <div class="col-sm-9">
                            <select asp-for="ProDetaCreateDto.Color" asp-items="Html.GetEnumSelectList<Colors>()" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProDetaCreateDto.Count" class="col-sm-3 col-form-label">Say :</label>
                        <div class="col-sm-9">
                            <input asp-for="ProDetaCreateDto.Count" type="number" class="form-control" id="exampleInputEmail2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProDetaCreateDto.StarCount" class="col-sm-3 col-form-label">Reyting :</label>
                        <div class="col-sm-9">
                            <select asp-for="ProDetaCreateDto.StarCount" asp-items="Html.GetEnumSelectList<Reyting>()" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProDetaCreateDto.Availability" class="col-sm-3 col-form-label">Movcuddur ?</label>
                        <input asp-for="ProDetaCreateDto.Availability" type="checkbox" class="form-control" id="exampleInputEmail2" checked>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Submit</button>
                    <a asp-action="ProductList" asp-controller="Product" asp-area="AdminPanel" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mehsul Detallari</h4>
                <div class="mt-auto">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mehsul</th>
                                    <th>Beden</th>
                                    <th>Reng</th>
                                    <th>Say</th>
                                    <th>Reyting</th>
                                    <th>Movcuddur?</th>
                                    <th>EDIT</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var productDetailsDto in Model.ProDetaListDto.Take(5))
                                {
                                    <tr>
                                        <td>@ProDetaCount</td>
                                        <td>@productDetailsDto.ProductName</td>
                                        <td>@productDetailsDto.Size.ToString()</td>
                                        <td>@productDetailsDto.Color.ToString()</td>
                                        <td>@productDetailsDto.Count ed.</td>
                                        <td>@productDetailsDto.StarCount.ToString()</td>
                                        @if (productDetailsDto.Availability)
                                        {
                                            <td>
                                                Aktiv
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                Aktiv deyil
                                            </td>
                                        }
                                        <td>
                                            <a asp-action="Update" asp-controller="ProductDetails" asp-area="AdminPanel" asp-route-id="@productDetailsDto.Id"><i class="bi bi-pencil-square"></i></a>
                                            <a asp-action="Delete" asp-controller="ProductDetails" asp-area="AdminPanel" asp-route-id="@productDetailsDto.Id"><i class="bi bi-x-square"></i></a>
                                        </td>
                                    </tr>
                                    ProDetaCount++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>