@model (ProductDto product,ProductCommentDto comment,List<ProductCommentDto> commentlist)



<link rel="stylesheet" href="~/MemberPanel/plugins/themify-icons/themify-icons.css">
<link rel="stylesheet" type="text/css" href="~/MemberPanel/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="~/MemberPanel/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/MemberPanel/styles/single_responsive.css">





<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Sort Way -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a asp-action="Index" asp-controller="Home" asp-area="">Home</a></li>

                    <li><a asp-action="Index" asp-controller="Shop" asp-area="" asp-route-genderid="@Model.product.GenderID">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>@Model.product.GenderName's</a></li>

                    <li class="active"><a asp-action="Index" asp-controller="Details" asp-area="" asp-route-productID="@Model.product.Id">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>Single Product</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">

            <!-- IMAGE -->
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <div class="single_product_image_background" style="background-image:url(AdminPanel/img/product/@Model.product.Image)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h2>@Model.product.Name</h2>
                    <p>Siz sifariş yerləşdirərkən və məxfi məlumatlarınızı (kredit və ya debit kartındakı məlumatlar) təqdim edərkən onların təhlükəsizliyi və məxfiliyi bizim tərəfimizdən tamamilə təmin olunur. </p>
                </div>
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>PULSUZ ÇATDIRILMA</span>
                </div>
                <div class="product_price">$@Model.product.Price</div>
                <ul class="star_rating">
                    @for (int i = 0; i < 5; i++)
                    {
                        if (i <= (int)Model.product.StarCount)
                        {
                             <li><i class="fa fa-star" aria-hidden="true"></i></li>
                        }
                        else
                        {
                             <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                        }
                    }
                </ul>
                <div class="product_color">
                    <p>Kateqori :<span>    @Model.product.CategoryName</span></p>
                    <p>Reng :<span>    @Model.product.Color.ToString()</span></p>
                    <p>Beden :<span>    @Model.product.Size.ToString()</span></p>
                    <p>Say :<span>    @Model.product.Count</span></p>
                    <p>Ticket :<span>    @Model.product.Ticket.ToString()</span></p>
                </div>
                @*<div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                    <span>Quantity:</span>
                    <div class="quantity_selector">
                        <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span id="quantity_value">1</span>
                        <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                    <div class="red_button add_to_cart_button"><a href="~/MemberPanel/#">add to cart</a></div>
                    <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                </div>*@
            </div>
        </div>
    </div>

</div>

<!-- Tabs -->

<div class="tabs_section_container">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tabs_container">
                    <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">>
                        <li class="tab active" data-active-tab="tab_3"><span>COMMENT (@Model.commentlist.Count)</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- COMMENT -->

                <div id="tab_3" class="tab_container active">
                    <div class="row">

                        <!-- User Reviews -->

                        <div class="col-lg-6 reviews_col">
                            @*<div class="tab_title reviews_title">
                                <h4>Comment (@Model.commentlist.Count)</h4>
                            </div>*@


                            <!-- COMMENT LIST -->

                            @foreach (var commentDto in Model.commentlist)
                            {
                                <div class="user_review_container d-flex flex-column flex-sm-row">
                                    <div class="user">
                                        <div class="user_pic"></div>
                                    </div>
                                    <div class="review">
                                        <div class="review_date">@commentDto.CreateDate.ToString("dd MMM")</div>
                                        <div class="user_name">@commentDto.FullName</div>
                                        <p>@commentDto.Message</p>
                                    </div>
                                </div>
                            }
                        </div>

                        <!-- COMMENT Elave Et -->

                        <div class="col-lg-6 add_review_col">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <div class="add_review">
                                    <form asp-action="Index" asp-controller="Details" asp-area="" id="review_form" method="post">
                                        <div>
                                            <h1>Fikir Bildirin</h1>

                                            <input id="review_name" class="form_input input_name" type="text" asp-for="comment.FullName" placeholder="Ad ve Soyadinizi yazin..." required="required" data-error="Xana bos kecile bilmez!.">
                                            <span asp-validation-for="comment.FullName" class="text-danger"></span>
                                        </div>
                                        <div>

                                            <textarea id="review_message" class="input_review" asp-for="comment.Message" placeholder="Mesajinizi yazin..." rows="4" required data-error="Xahis olunur, mesajinizi yazin."></textarea>
                                            <span asp-validation-for="comment.Message" class="text-danger"></span>
                                        </div>
                                        <div class="text-left text-sm-right">

                                            <button asp-route-productid="@Model.product.Id" id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">Gonder</button>
                                        </div>
                                    </form>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-danger" role="alert">
                                    Fikir bildirmek ucun hesabiniza daxil olun. <a asp-action="Login" asp-controller="Account">Login</a>
                                    <br />
                                    Hesabiniz yoxdursa qeydiyyatdan kecin.! <a asp-action="Register" asp-controller="Account">Register</a>    
                                </div>

                            }

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<script src="~/MemberPanel/js/jquery-3.2.1.min.js"></script>
<script src="~/MemberPanel/styles/bootstrap4/popper.js"></script>
<script src="~/MemberPanel/styles/bootstrap4/bootstrap.min.js"></script>
<script src="~/MemberPanel/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="~/MemberPanel/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="~/MemberPanel/plugins/easing/easing.js"></script>
<script src="~/MemberPanel/plugins/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script src="~/MemberPanel/js/single_custom.js"></script>

